html, body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-title {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.snap-h6 {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snap-h4 {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snap-h5 {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snap-h9 {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
  font-size: 120px;
  color: rgb(230, 183, 122);
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 320px;
  margin-bottom: 1px;
  position:relative;
  z-index: 10;
}


.title-box{
  position:relative;
  display: inline-block;
}

.title-bg{
  position: absolute;
  width: 125px;
  opacity: 0.25;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title-bg.bg1{
  transform: translate(-50%,-50%) translate(-420px,-88px);
  width: 80px;
}

.title-bg.bg8{
  transform: translate(-50%,-50%) translate(-540px,-380px);
  width: 50px;
}

.title-bg.bg2{
  transform: translate(-50%,-50%) translate(-280px,96px);
  width: 100px;
}

.title-bg.bg10{
  transform: translate(-50%,-50%) translate(-540px,-960px);
  width: 50px;
}

.title-bg.bg3{
  transform: translate(-50%,-50%) translate(-140px,-88px);
}
.title-bg.bg4{
  transform: translate(-50%,-50%) translate(0px,96px);
  width: 100px;
}
.title-bg.bg5{
  transform: translate(-50%,-50%) translate(140px,-88px);
  width: 80px;
}
.title-bg.bg6{
  transform: translate(-50%,-50%) translate(280px,96px);
}
.title-bg.bg11{
  transform: translate(-50%,-50%) translate(540px,-960px);
  width: 80px
}

.title-bg.bg7{
  transform: translate(-50%,-50%) translate(420px,-88px);
  width: 100px;
}

.title-bg.bg9{
  transform: translate(-50%,-50%) translate(540px,-380px);
  width: 50px;
}

.sweets-title{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 50%;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.9;
}
.sweets-title img{
  width: auto; 
  height: 220px;
}


h2{
  font-size: 48px;
  color: rgb(230, 183, 122);
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 40px;
  margin-top: -24px;
}

h4{
   font-size: 48px;
  color: rgb(230, 183, 122);
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 200px;
}

h3{
  font-size: 80px;
  color: rgb(230, 183, 122);
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 8px;
}
p{
  font-size: 24px;
  color: rgb(230, 183, 122);
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.6;
}
.text-box{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    text-align: left;
    margin-bottom: 160px;
    scroll-snap-align: center;
}
.text-box>img{
    width: 376px;
    height: auto;
    border: 8px solid rgba(230, 183, 122, 0.8);
    border-radius: 1%;
}



.text-content{
    position: relative;
    max-width: 376px;
    margin-top: -72px;
}
.corner-img{
  position: absolute;
  top: 88px;
  right: 24px; 
  opacity: 0.25;
  border: none;
}



.text-box.highlight h3,
.text-box.highlight p{
  color: rgb(230, 183, 122);
}

h5{
   font-size: 48px;
  color: rgb(230, 183, 122);
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom:200px;
}

h6{
   font-size: 48px;
  color: rgb(230, 183, 122);
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 200px;
  margin-bottom: 200px;
}

footer{
  margin-bottom: 64px;
  margin-top: -64px;
}

@media (max-width:600px){
  h1{
    font-size: 48px;
    margin-top: 80px;
    margin-bottom: 16px;
  }
  h2{
    font-size: 19px;
    margin-bottom: 40px;
  }
  h3{
    font-size:48px;
    
  }
  h4{
    font-size: 24px;
    margin-bottom: 160px;
  }
  h5{
    font-size: 20px;
    margin-bottom: 400px;
    margin-top: 400px;
  }
  h6{
    font-size: 20px;
    margin-bottom: 400px;
    margin-top: 400px;
  }
  p{
    font-size: 20px;
  }
  .text-box{
    gap: 4px;
    margin-bottom: 320px;
    flex-direction: column;
    align-items: center;
  }
  .text-box>img{
    width: 320px;
    height:auto;
    border: 4px solid rgba(230, 183, 122, 0.8);
    border-radius: 1%;
    margin-bottom: 48px;
  }
  .text-content{
    width: 320px;
    height:auto;
    margin-top: -80px;
  }
  .text-content img.corner-img {
  width: 150px !important; 
  height: auto !important;
  top:64px;
  }
  .title-bg.bg1{
  transform: translate(-50%,-50%) translate(-210px,-88px);
  width: 40px;
  }
  .title-bg.bg8{
  transform: translate(-50%,-50%) translate(-180px,-960px);
  width: 30px;
  }
  .title-bg.bg2{
  transform: translate(-50%,-50%) translate(-140px,80px);
  width: 50px;
  }
  .title-bg.bg10{
  transform: translate(-50%,-50%) translate(-180px,-600px);
  width: 30px;
  }
  .title-bg.bg3{
  transform: translate(-50%,-50%) translate(-70px,-88px);
  width: 60px;
  }
  .title-bg.bg4{
  transform: translate(-50%,-50%) translate(0px,80px);
  width: 50px;
  }
  .title-bg.bg5{
  transform: translate(-50%,-50%) translate(70px,-88px);
  width: 40px;
  }
  .title-bg.bg6{
  transform: translate(-50%,-50%) translate(140px,80px);
  width: 60px;
  }
  .title-bg.bg11{
  transform: translate(-50%,-50%) translate(180px,-600px);
  width: 30px;
  }
  .title-bg.bg7{
  transform: translate(-50%,-50%) translate(210px,-88px);
  width: 50px;
  }
  .title-bg.bg9{
  transform: translate(-50%,-50%) translate(180px,-960px);
  width: 30px;
  }
  .sweets-title img{
  margin-top: -40px;
  height: 72px;
  }
  }