h1{
  color: rgb(203, 157, 97);
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
}
p{
  color: rgb(203, 157, 97);
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
}